footer{
    background-color: #0f172a;
    filter: brightness(150%);
    padding: 2rem 0;
}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: rgba(245, 245, 245, 0.3);
}

footer .logo span:first-child{
    background-color: rgba(59, 130, 246,0.5);
}


@media(min-width:768px){
    .footer{
        flex-direction: row;
        justify-content: space-between;
    }
}